layout {

    focus-ring {
        active-color   "#7d2b2b"
        inactive-color "#e8e0d8"
        urgent-color   "#b36d43"
    }

    border {
        active-color   "#7d2b2b"
        inactive-color "#e8e0d8"
        urgent-color   "#b36d43"
    }

    shadow {
        color "#eee8e270"
    }

    tab-indicator {
        active-color   "#7d2b2b"
        inactive-color "#c69595"
        urgent-color   "#b36d43"
    }

    insert-hint {
        color "#7d2b2b80"
    }
}

recent-windows {
    highlight {
        active-color "#7d2b2b"
        urgent-color "#b36d43"
    }
}
